.header {
    display: flex;
    height: 60px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left:0;
    right:0;
    background-color: white;
    border-bottom: 1px solid rgb(223, 220, 220);
    z-index:100;
}

.header-left {
    display: flex;
    flex-direction: row;
}

.hamburger {
    width: 30px;
    margin: 20px;
}

.youtube-logo {
    width: 100px;
}

.header-middle {
    flex:1;
    max-width: 500px;
    display: flex;
}

.voice-search {
    width: 25px;
    background-color: rgb(231, 228, 228);
    border-radius: 20px;
    padding: 5px;
    margin-right: 10px;
}

.voice-search:hover {
    cursor: pointer;
}

.header-right {
    width: 300px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.header-icon-container,
.voice-button-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toolkit {
    background-color: grey;
    color: white;
    font-size: 15px;
    padding: 5px 10px;
    font-weight:350;
    position: absolute;
    top: 48px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s;
}
.header-icon-container:hover {
    cursor: pointer;
}
.header-icon-container:hover .toolkit,
.voice-button-container:hover .toolkit{
    opacity: 1;
    
}
.notification-count {
    position: absolute;
    font-size: small;
    background-color: rgb(192, 26, 26);
    color: white;
    text-align: center;
    width: 15px;
    height: 15px;
    padding: 1px;
    border-radius: 100%;
    top: -1px;
    right: -2px;

}
.header-icons {
    width: 30px;
    border-radius: 15px;
}

.search-bar {
    margin-left: 50px;
    border-radius: 50px;
    font-size: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    max-width: 500px;
    min-width:50px;
    border-width: 0;
    margin-right: 10px;
    padding: 10px;
    flex:1;
    width: 0;
}

